@import "../../mixins/variables";

.centralized {
  width: 800px;
  margin: 0 auto;
}

.table-details {
  border-collapse: collapse;
  background-color: $darkerGrey;
  color: $white;
  width: 100%;
  border: 2px solid $black;
  .table-head {
    background-color: $black;
    padding: 8px;
    width: 15rem;
    text-align: left;
  }
  .table-center {
    text-align: center;
  }
}

.toggled {
  border: 1px solid $white;
  background-color: $purple;
  padding: 3px;
  display: inline-block;
  &:hover {
    background-color: $purple;
    cursor: pointer;
  }
}

.difficulty-tab {
  border: 1px solid #555555;
  padding: 3px;
  display: inline-block;
  &:hover {
    cursor: pointer;
    background-color: $purple;
  }
}
