@import "../../mixins/variables";

.centralized {
  width: 800px;
  margin: 0 auto;
}

.boss-pic {
  width: 50px;
  height: 50px;
}

.table-details {
  border-collapse: collapse;
  background-color: $darkerGrey;
  color: $white;
  width: 100%;
  border: 2px solid $black;
  .table-head {
    background-color: $black;
    padding: 8px;
    width: 15rem;
    text-align: left;
  }
  .table-center {
    text-align: center;
  }
  td {
    font-size: 1.3rem;
    padding: 8px;
  }
  .rankings-tab {
    border-bottom: 1px solid #606060;
    td {
      padding: 3px;
    }
  }
}

.toggled {
  border: 1px solid $white;
  background-color: $purple;
  &:hover {
    background-color: $purple;
    cursor: pointer;
  }
}

.unkilled {
  display: inline-block;
  color: #606060;
  pointer-events: none;
}

.disabled {
  border: 1px solid #606060;
}

.active {
  color: $white;
  display:inline-block;
  margin-left: 0px;
  &:hover {
    cursor: pointer;
    background-color: $purple;
  }
}

// .stats {
//   border-bottom: 1px solid $black;
// }
// .best-perf-avg {
//   text-align: center;
//   font-size: 1.8rem !important;
//   padding: 15px 0 !important;
//   .percent {
//     font-size: 3.2rem !important;
//   }
// }
