@import "../../mixins/variables";

.centralized {
  width: 800px;
  margin: 0 auto;
  height: 100%;
  background-color: $purple;
}

.headerContainer {
  height: 84px;
  width: 100%;
  border-bottom: 1px solid #dedede;
  position: relative;
  background-color: $purple;
}

.spinner {
  margin: 0 auto;
  width: 800px;
  top: 50%;
}

.bodyContainer {
  height: 100%;
}

.searchContainer {
  height: 40px;
  width: 800px;
  float: left;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  input {
    background-color: $white;
    width: 40%;
    height: 100%;
    padding-left: 24px;
    min-height: 35px;
    float: left;
  }
  .searchIcon {
    color: $darkerGrey;
    cursor: pointer;
    position: absolute;
    left: 6px;
    top: 11px;
  }
  .button {
    margin-left: 3px;
    height: 37px;
    border-radius: 4px;
  }
}

.optionContainer {
  width: calc(100% - 414px) !important;
  float: left;
  position: relative;
  select {
    height: 37px;
    width: 100%;
  }
}
.searchInput {
  font-size: 12px;
  border: 1px solid $darkerGrey;
  border-radius: 4px;
  padding: 0px 12px 0 9px;
}
