@import '../../mixins/variables';

html { font-size: 62.5%; }
body {
  font-size: 14px;
  font-size: 1.4rem; /* =14px */
  background: $purple;
  margin: 0;
}
// h1 {
//   font-size: 24px;
//   font-size: 2.4rem; /* =24px */
// }
.app {
  background: $purple;
  font-family: $defaultFont;
}

.header {
  color: $white;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background-color: #342335;
  h1 {
    font-size: 2.0rem;
    margin: 0;
    font-family: $ralewayFont;
  }
}
