.character-form {
  color: white;
}

.character-info {
  text-align: left;
}

img {
  display: block;
  margin: 0 auto;
}

h1 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: 1px;
}
