.bg-white {
  width: 100%;
  background-color: #282828;
  height: auto;
}

.centralized {
  width: 800px;
  margin: 0 auto;
  height: 100%;
  border-right-style: solid;
  border-left-style: solid;
  border-color: #2a2a2a;
  border-width: 1px;
  background-color: #3a3a3a;
}

.searchContainer {
  height: 40px;
  width: 800px;
  float: left;
  position: relative;
  input {
    background-color: white;
    width: 50%;
    height: 100%;
    padding-left: 24px;
  }
  .searchIcon {
    color: #aaa;
    cursor: pointer;
    position: absolute;
    left: 6px;
    top: 11px;
  }
}

.optionContainer {
  width: calc(100% - 400px) !important;
  float: right;
  position: relative;
  select {
    height: 100%;
    width: 100%;
  }
}
.searchInput {
  border-color: #31575a;
  font-size: 12px;
  border: 1px solid #d8dde6;
  border-radius: 4px;
  padding: 0px 12px 0 9px;
}
