.progress {
  width: 266px;
  text-align: center;
  float: left;
}

.progress-card {
    float: left;
    width: 100%;
    border: 1px solid #909090;
    border-radius: 2px;
    padding: 16px;
    background-color: #414243;
    color: #606060;
  }
