.boss-card {
  flex-flow: row;
  display: flex;
  border: 1px solid #909090;
  padding: 8px;
  background-color: #181818;
  color: #606060;
  margin-bottom: 10px;
}

.boss-name {
  text-align: center;
  color: #ffffff;
}

.boss-pic {
  width: 50px;
  height: 50px;
}

.card-text {
  order: 2;
  color: #FFFFFF;
}

.row {
  width: 100%;
}

.table-center {
  text-align: center;
}

td {
  padding: 5px;
  position: relative;
}

.name {
  padding-left: 10px;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}
