.boss-card {
  flex-flow: row;
  display: flex;
  border: 1px solid #909090;
  padding: 8px;
  background-color: #181818;
  color: #606060;
  margin-bottom: 10px;
}

.boss-name {
  text-align: center;
  color: #ffffff;
}

.boss-pic {
  max-height: 200px;
  width: 100%;
}

.card-text {
  order: 2;
  color: #FFFFFF;
}

.row {
  width: 100%;
}
