@import "../../mixins/variables";

.centralized {
  width: 800px;
  margin: 0 auto;
}

.character-container {
  float: left;
  width: 100%;
  margin-top: 60px;
  height: 100px;
  background-color: #000;
}

.character-info {
  font-family: $arialFont;
  text-align: left;
  color: white;
  position: relative;
  float: left;
  margin-left: 10px;
  padding: 5px;
  .char-text {
    padding: 5px 0px 5px;
    font-size: 1.1rem;
  }
  .horde {
    color: $horde;
  }
  .alliance {
    color: $alliance;
  }
}
.pro-name {
  text-transform: uppercase;
  font-family: $oswaldFont;
  font-size: 1.75rem;
}

.avatar-container {
  width: 100px;
  height: 100px;
  float: left;
  position: relative;
  .thumbnail {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 2px solid black;
  }
  .alliance {
    box-shadow: 0px 0px 10px $alliance;
  }
  .horde {
    box-shadow: 0px 0px 10px $horde;
  }
}

.raid-content {
  float: left;
}

.profile-links {
  padding-top: 10px;
  width: 100px;
  float: right;
  a {
    display: inline-block;
    img {
      width: 24px;
      height: 24px;
    }
  }
  .warcraft-logs {
    margin-left: 24px;
  }
}
