@import "../../mixins/variables";

.characterContainer {
  float: left;
  width: 100%;
  margin-top: 60px;
  height: 100px;
  background-color: #000;
}

.characterInfo {
  font-family: $defaultFont;
  text-align: left;
  color: white;
  position: relative;
  float: left;
  margin-left: 10px;
  .charText {
    padding: 5px;
    font-size: 16px;
  }
  .horde {
    padding-top: 5px;
    font-size: 25px;
    color: $horde;
  }
  .alliance {
    padding-top: 5px;
    font-size: 25px;
    color: $alliance;
  }
}

.avatarContainer {
  width: 100px;
  height: 100px;
  float: left;
  position: relative;
  img {
    width: 100%;
  }
}

.raidContent {
  float: left;
}

.profileLinks {
  padding-top: 10px;
  width: 100px;
  float: right;
    img {
      width: 24px;
      height: 24px;
    }
}
