.characterContainer {
  margin-top: 100px;
  height: 100px;
  background-color: black;
}

.characterInfo {
  text-align: left;
  color: white;
  position: relative;
  float: left;
  margin-left: 10px;
}


.avatarContainer {
  width: 100px;
  height: 100px;
  float: left;
  position: relative;
  img {
    width: 100%;
  }
}

h3 {
  margin: 0;
  font-size: 13px;
}

h1 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: 1px;
}
