@import "../../mixins/variables";

ul {
  padding: 0;
}

.raid {
  float: left;
  width: 100%;
  color: white;
  font-family: $defaultFont;
  margin-bottom: 50px;
}

.content {
  width: 100%;
  float: left;
  background-color: #45354a;
}

.table-center {
  text-align: center;
}

.table-details {
  border-collapse:collapse;
  background-color: $darkerGrey;
  color: #FFF;
  width: 100%;
  border: 2px solid $black;
  .table-head {
    background-color: $black;
    padding: 8px;
    width: 15rem;
    text-align: left;
  }
  .table-center {
    text-align: center;
  }
  td {
    font-size: 1.3rem;
    padding: 8px;
  }
}

.prog {
  color: #b8b8b8;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 4px 8px;
  border: 1px solid $black;
  background-color: $black;
}
